#root {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  width: 100%;
}

.top-bar {
  height: 100px;
  background-color: blue;
  width: 100%;
}

.bottom-bar {
  height: 100px;
  background-color: red;
  width: 100%;
}

.main-content {
  max-height: calc(100vh - 200px);
  background-color: white;
  text-align: center;
  padding: 2rem;
}

button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
}

.guess {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.2rem
}

.input-correct {
  border: 2px solid #4caf50 !important;
  box-shadow: 0 0 4px #4caf50;
  outline: none;
  background: #eaffea;
}

.input-incorrect {
  border: 2px solid #f44336 !important;
  box-shadow: 0 0 4px #f44336;
  outline: none;
  background: #ffeaea;
}
