#root {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  width: 100%;
}

.top-bar {
  height: 100px;
  background-color: blue;
  width: 100%;
}

.bottom-bar {
  height: 100px;
  background-color: red;
  width: 100%;
}

.main-content {
  max-height: calc(100vh - 200px);
  background-color: white;
  text-align: center;
  padding: 2rem;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}
